form input {
    width: 95%;
    padding: 10px;
    margin: 5px 10px 22px 15px;
    display: inline-block;
    border: none;
    background: #3f4041;
    border-bottom-style: solid;
    border-bottom-color: #3273FF;
}

::placeholder {
    color: #989999;
}

form button {
    background: #3273FF;
    padding: 10px;
    cursor: pointer;
    width: 95%;
    margin: 5px 20px 30px 15px;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .wrapper div:first-child {
        border-right-style: solid;
        border-right-color: #3273FF;
    }

}