a:hover {
    text-decoration: none;
}

.card {
    max-width: 300px;
    margin: 20px;
}

#playlistCover {
    object-fit: cover;
    width: 220px;
    height: 220px;
    margin: 20px;
}

.wrapper div:first-child {
    display: flex;
    align-items: center;
}

h1, h4, p {
    padding: 10px;
    overflow: hidden;
}

.wrapper img {
    margin: 50px 5px 50px 50px;
}

.tracks {
    display: grid;
    grid-template-columns: 35px 1fr;
    border-top-style: solid;
    border-top-color: #3273FF;
    border-width: thin;
    margin: 0 20px 0 20px;
    transition: 0.3s;
    align-items: center;
}

.tracks:hover {
    background: #19191a;
}

.tracks a{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    font-weight: bold;
    font-size: 18px;
    cursor: default;
}

.tracks:last-child {
    border-bottom-style: solid;
    border-bottom-color: #3273FF;
    margin-bottom: 50px;
}

.tracks i{
    margin-left: 5px;
    color: #3273FF;
}