
body {
    padding-top: 70px;
    background: #323334;
}

h1, h2, h3, h4, p {
    color: #f5f5f5;
}

h1 {
    padding: 20px;
    font-size: 40px;
}

h2 {
    margin-left: 20px;
    font-size: 27px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    background: #282829;
}

.gallery {
    display: flex;
    margin: 0 10px 0 10px;
    padding: 0 10px 0 10px;
    justify-content: space-evenly;
    border-top-color: #3273FF;
    border-top-style: solid;
    flex-wrap: wrap;
}

.gallery div:last-child {
    display: none;
}

.tile {
    padding: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.tile:hover {
    background: #19191a;
}

h3 {
    font-size: 23px;
}

#Search {
    background-color: white;
    color: black;
    border: 2px solid grey;
    border-radius: 3px;
/ / for no radius

}

#Search:hover {
    background-color: grey;
    color: white;

}

@media screen and (min-width: 1300px) {
    .gallery div:last-child {
        display: block;
    }
}
